extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')
block content
  h1 Marvel Superhero Team
  .landings
    .loginLand
      p Welcome Back
      a(href='/login')
        button Login
    .registerLand
      p Don't Have An Account?
      a(href='/register')
        button Register
.container-fluid#landingFooter


block scripts
  script(src='/lib/firebase/firebase.js')
  script(src="/js/index.js")
