extends layout

block styles
  link(rel='stylesheet', href='/css/marvel.css')
block content
  h1 Marvel Team
  input#search(type="text", placeholder="search here")
  button Get Character
  br
  #searchResults
  .chars




block scripts
  script(src='/lib/firebase/firebase.js')
  script(src="/js/marvel.js")