extends layout

block styles
  link(rel='stylesheet', href='/css/marvel.css')
block content
  h1 Marvel Team
  button Get Character
  br
  br
  img
  .descr
  a.comic




block scripts
  script(src='/lib/firebase/firebase.js')
  script(src="/js/marvel.js")