extends layout

block styles
  link(rel='stylesheet', href='/css/marvel.css')
block content
  div
    each char in character
      h1=char.name




block scripts
  script(src='/lib/firebase/firebase.js')
  script(src="/js/marvel.js")