extends layout

block styles
  link(rel='stylesheet', href='/css/marvel.css')
block content
  h1 Marvel Team
  select#newChar
      option 1009609
      option 1009610
  button Get Character
  br
  .chars




block scripts
  script(src='/lib/firebase/firebase.js')
  script(src="/js/marvel.js")