extends layout

block styles
  link(rel='stylesheet', href='/css/pokemon.css')
block content
  .container-fluid#landing
    h1= title
    p Welcome to #{title}
    p Pokemon Page



block scripts
  script(src='/lib/firebase/firebase.js')
  script(src="/js/index.js")