#login, #register {
	display: none;
}

#logout {
	display: inherit;
}

.container-fluid {
	background: white;
}

h1 {
	color: black;
}

img {
	height: 200px;
	width: 200px;
}

textarea {
	width: 90%;
	height: auto;
}

#search {
	background-color: #ffcccc;
}

.searchResultsLabel {
	margin-left: 5px;
	margin-right: 5px;
}

.searchResultsLabel:hover {
	background-color: yellow;
	cursor: pointer;
}